In [1]:
import numpy as np
import pandas as pd

In [3]:
# train_data
train_data=pd.read_csv('train_set.csv')
train_data.drop(['ID'],inplace=True,axis=1)
#训练数据分出输入和最后预测的值
train_X=train_data.iloc[:,train_data.columns!='y']
print(train_X.head())
train_y=train_data.iloc[:,train_data.columns=='y']
print(train_y.head())

   age         job   marital  education default  balance housing loan  \
0   43  management   married   tertiary      no      291     yes   no
1   42  technician  divorced    primary      no     5076     yes   no
2   47      admin.   married  secondary      no      104     yes  yes
3   28  management    single  secondary      no     -994     yes  yes
4   42  technician  divorced  secondary      no     2974     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome
0   unknown    9   may       150         2     -1         0  unknown
1  cellular    7   apr        99         1    251         2    other
2  cellular   14   jul        77         2     -1         0  unknown
3  cellular   18   jul       174         2     -1         0  unknown
4   unknown   21   may       187         5     -1         0  unknown
   y
0  0
1  0
2  0
3  0
4  0

In [4]:
test_data=pd.read_csv('test_set.csv')
test_data.drop(['ID'],inplace=True,axis=1)
test_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,51,housemaid,married,unknown,no,174,no,no,telephone,29,jul,308,3,-1,0,unknown
1,32,management,married,tertiary,no,6059,yes,no,cellular,20,nov,110,2,-1,0,unknown
2,60,retired,married,primary,no,0,no,no,telephone,30,jul,130,3,-1,0,unknown
3,32,student,single,tertiary,no,64,no,no,cellular,30,jun,598,4,105,5,failure
4,41,housemaid,married,secondary,no,0,yes,yes,cellular,15,jul,368,4,-1,0,unknown

## 字符特征数字化

In [5]:
train_X['job'],unique=pd.factorize(train_X['job'])
train_X['job']=train_X['job']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other
2,47,3,married,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,single,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,divorced,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown

In [6]:
train_X['marital'],unique=pd.factorize(train_X['marital'])
train_X['marital']=train_X['marital']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other
2,47,3,1,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown

In [7]:
train_X['education'],unique=pd.factorize(train_X['education'])
train_X['education']=train_X['education']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,2,no,5076,yes,no,cellular,7,apr,99,1,251,2,other
2,47,3,1,3,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,3,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,3,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown

In [8]:
train_X['default'],unique=pd.factorize(train_X['default'])
train_X['default']=train_X['default']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,291,yes,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,2,1,5076,yes,no,cellular,7,apr,99,1,251,2,other
2,47,3,1,3,1,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,3,1,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,3,1,2974,yes,no,unknown,21,may,187,5,-1,0,unknown

In [9]:
train_X['balance'],unique=pd.factorize(train_X['balance'])
train_X['balance']=train_X['balance']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,yes,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,2,1,2,yes,no,cellular,7,apr,99,1,251,2,other
2,47,3,1,3,1,3,yes,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,3,1,4,yes,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,3,1,5,yes,no,unknown,21,may,187,5,-1,0,unknown

In [10]:
train_X['housing'],unique=pd.factorize(train_X['housing'])
train_X['housing']=train_X['housing']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,no,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,2,1,2,1,no,cellular,7,apr,99,1,251,2,other
2,47,3,1,3,1,3,1,yes,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,3,1,4,1,yes,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,3,1,5,1,no,unknown,21,may,187,5,-1,0,unknown

In [11]:
train_X['loan'],unique=pd.factorize(train_X['loan'])
train_X['loan']=train_X['loan']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,1,unknown,9,may,150,2,-1,0,unknown
1,42,2,2,2,1,2,1,1,cellular,7,apr,99,1,251,2,other
2,47,3,1,3,1,3,1,2,cellular,14,jul,77,2,-1,0,unknown
3,28,1,3,3,1,4,1,2,cellular,18,jul,174,2,-1,0,unknown
4,42,2,2,3,1,5,1,1,unknown,21,may,187,5,-1,0,unknown

In [12]:
train_X['contact'],unique=pd.factorize(train_X['contact'])
train_X['contact']=train_X['contact']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,1,1,9,may,150,2,-1,0,unknown
1,42,2,2,2,1,2,1,1,2,7,apr,99,1,251,2,other
2,47,3,1,3,1,3,1,2,2,14,jul,77,2,-1,0,unknown
3,28,1,3,3,1,4,1,2,2,18,jul,174,2,-1,0,unknown
4,42,2,2,3,1,5,1,1,1,21,may,187,5,-1,0,unknown

In [13]:
train_X['month'],unique=pd.factorize(train_X['month'])
train_X['month']=train_X['month']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,1,1,9,1,150,2,-1,0,unknown
1,42,2,2,2,1,2,1,1,2,7,2,99,1,251,2,other
2,47,3,1,3,1,3,1,2,2,14,3,77,2,-1,0,unknown
3,28,1,3,3,1,4,1,2,2,18,3,174,2,-1,0,unknown
4,42,2,2,3,1,5,1,1,1,21,1,187,5,-1,0,unknown

In [14]:
train_X['poutcome'],unique=pd.factorize(train_X['poutcome'])
train_X['poutcome']=train_X['poutcome']+1
train_X.head()

D:\anconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\anconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,1,1,9,1,150,2,-1,0,1
1,42,2,2,2,1,2,1,1,2,7,2,99,1,251,2,2
2,47,3,1,3,1,3,1,2,2,14,3,77,2,-1,0,1
3,28,1,3,3,1,4,1,2,2,18,3,174,2,-1,0,1
4,42,2,2,3,1,5,1,1,1,21,1,187,5,-1,0,1

In [22]:
test_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,51,housemaid,married,unknown,no,174,no,no,telephone,29,jul,308,3,-1,0,unknown
1,32,management,married,tertiary,no,6059,yes,no,cellular,20,nov,110,2,-1,0,unknown
2,60,retired,married,primary,no,0,no,no,telephone,30,jul,130,3,-1,0,unknown
3,32,student,single,tertiary,no,64,no,no,cellular,30,jun,598,4,105,5,failure
4,41,housemaid,married,secondary,no,0,yes,yes,cellular,15,jul,368,4,-1,0,unknown

In [23]:
test_data['job'],jnum=pd.factorize(test_data['job'])
test_data['job']=test_data['job']+1

test_data['marital'],jnum=pd.factorize(test_data['marital'])
test_data['marital']=test_data['marital']+1

test_data['education'],jnum=pd.factorize(test_data['education'])
test_data['education']=test_data['education']+1

test_data['default'],jnum=pd.factorize(test_data['default'])
test_data['default']=test_data['default']+1

test_data['housing'],jnum=pd.factorize(test_data['housing'])
test_data['housing']=test_data['housing']+1

test_data['loan'],jnum=pd.factorize(test_data['loan'])
test_data['loan']=test_data['loan']+1

test_data['contact'],jnum=pd.factorize(test_data['contact'])
test_data['contact']=test_data['contact']+1

test_data['month'],jnum=pd.factorize(test_data['month'])
test_data['month']=test_data['month']+1

test_data['poutcome'],jnum=pd.factorize(test_data['poutcome'])
test_data['poutcome']=test_data['poutcome']+1

test_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,51,1,1,1,1,174,1,1,1,29,1,308,3,-1,0,1
1,32,2,1,2,1,6059,2,1,2,20,2,110,2,-1,0,1
2,60,3,1,3,1,0,1,1,1,30,1,130,3,-1,0,1
3,32,4,2,2,1,64,1,1,2,30,3,598,4,105,5,2
4,41,1,1,4,1,0,2,2,2,15,1,368,4,-1,0,1

## 模型测试

## gbdt---0.81037621

In [15]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import cross_validation,metrics
from sklearn.grid_search import GridSearchCV

import matplotlib.pylab as plt
%matplotlib inline

D:\anconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
D:\anconda\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [17]:
train_X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,43,1,1,1,1,1,1,1,1,9,1,150,2,-1,0,1
1,42,2,2,2,1,2,1,1,2,7,2,99,1,251,2,2
2,47,3,1,3,1,3,1,2,2,14,3,77,2,-1,0,1
3,28,1,3,3,1,4,1,2,2,18,3,174,2,-1,0,1
4,42,2,2,3,1,5,1,1,1,21,1,187,5,-1,0,1

In [18]:
train_y.head()

   y
0  0
1  0
2  0
3  0
4  0

In [20]:
train_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,43,management,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown,0
1,42,technician,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other,0
2,47,admin.,married,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown,0
3,28,management,single,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown,0
4,42,technician,divorced,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown,0

In [21]:
train_data['y'].value_counts()

0    22356
1     2961
Name: y, dtype: int64

In [25]:
train_y.values

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]], dtype=int64)

In [37]:
gbm1=GradientBoostingClassifier(random_state=10)
gbm1.fit(train_X,train_y)
y_pred=gbm1.predict(train_X)
y_predprob=gbm1.predict_proba(train_X)[:,1]
print("Accuracy:%.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train data): %f" % metrics.roc_auc_score(train_y,y_predprob))

D:\anconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy:0.922
AUC Score(Train data): 0.940319

In [49]:
test_y_predprob=gbm1.predict_proba(test_data)[:,1]
df_test['pred']=test_y_predprob.tolist()
df_result=df_test.loc[:,['ID','pred']]
df_result.to_csv('GBDT2.csv',index=False)

### 调参提高模型的泛化能力

In [80]:
print(len(train_X))
print(len(train_y))
print(np.shape(train_X))
print(np.shape(train_y))
print(type(train_X))
print(type(train_y))
print(type(train_X.values))
train_y2=train_y.values.ravel()
print(type(train_X.values))
print(train_y2)
print(type(train_y2))
print(len(train_y2))
print(type(train_y2))

25317
25317
(25317, 16)
(25317, 1)
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[0 0 0 ... 1 1 1]
<class 'numpy.ndarray'>
25317
<class 'numpy.ndarray'>

In [86]:
## train_y2=train_y.values.ravel()----25317 <class 'numpy.ndarray'>[注意形式]
## 
param_test1={'n_estimators':list(range(10,401,10))}
gsearch1=GridSearchCV(estimator=GradientBoostingClassifier(learning_rate=0.1,max_features=None, 
                                                          subsample=0.8,random_state=10),param_grid=param_test1,
                                                          scoring='roc_auc',iid=False,cv=3)
gsearch1.fit(train_X.values,train_y2)
gsearch1.grid_scores_,gsearch1.best_params_,gsearch1.best_score_
##{'n_estimators': 350}, 0.8979275309747781)
## 找到一个合适的迭代次数，开始对决策树进行调参。

([mean: 0.84114, std: 0.05542, params: {'n_estimators': 10},
  mean: 0.86722, std: 0.05120, params: {'n_estimators': 20},
  mean: 0.87787, std: 0.04976, params: {'n_estimators': 30},
  mean: 0.88287, std: 0.04893, params: {'n_estimators': 40},
  mean: 0.88584, std: 0.04870, params: {'n_estimators': 50},
  mean: 0.88666, std: 0.04818, params: {'n_estimators': 60},
  mean: 0.88768, std: 0.04808, params: {'n_estimators': 70},
  mean: 0.88955, std: 0.04827, params: {'n_estimators': 80},
  mean: 0.89002, std: 0.04789, params: {'n_estimators': 90},
  mean: 0.89073, std: 0.04729, params: {'n_estimators': 100},
  mean: 0.89173, std: 0.04752, params: {'n_estimators': 110},
  mean: 0.89272, std: 0.04767, params: {'n_estimators': 120},
  mean: 0.89316, std: 0.04775, params: {'n_estimators': 130},
  mean: 0.89386, std: 0.04716, params: {'n_estimators': 140},
  mean: 0.89448, std: 0.04703, params: {'n_estimators': 150},
  mean: 0.89476, std: 0.04695, params: {'n_estimators': 160},
  mean: 0.89494, std: 0.04682, params: {'n_estimators': 170},
  mean: 0.89541, std: 0.04686, params: {'n_estimators': 180},
  mean: 0.89593, std: 0.04690, params: {'n_estimators': 190},
  mean: 0.89623, std: 0.04682, params: {'n_estimators': 200},
  mean: 0.89657, std: 0.04661, params: {'n_estimators': 210},
  mean: 0.89674, std: 0.04630, params: {'n_estimators': 220},
  mean: 0.89685, std: 0.04603, params: {'n_estimators': 230},
  mean: 0.89674, std: 0.04608, params: {'n_estimators': 240},
  mean: 0.89674, std: 0.04591, params: {'n_estimators': 250},
  mean: 0.89680, std: 0.04596, params: {'n_estimators': 260},
  mean: 0.89701, std: 0.04601, params: {'n_estimators': 270},
  mean: 0.89706, std: 0.04586, params: {'n_estimators': 280},
  mean: 0.89700, std: 0.04609, params: {'n_estimators': 290},
  mean: 0.89728, std: 0.04588, params: {'n_estimators': 300},
  mean: 0.89765, std: 0.04586, params: {'n_estimators': 310},
  mean: 0.89756, std: 0.04580, params: {'n_estimators': 320},
  mean: 0.89770, std: 0.04551, params: {'n_estimators': 330},
  mean: 0.89772, std: 0.04546, params: {'n_estimators': 340},
  mean: 0.89793, std: 0.04539, params: {'n_estimators': 350},
  mean: 0.89781, std: 0.04566, params: {'n_estimators': 360},
  mean: 0.89769, std: 0.04562, params: {'n_estimators': 370},
  mean: 0.89776, std: 0.04555, params: {'n_estimators': 380},
  mean: 0.89773, std: 0.04537, params: {'n_estimators': 390},
  mean: 0.89766, std: 0.04523, params: {'n_estimators': 400}],
 {'n_estimators': 350},
 0.8979275309747781)

In [96]:
##对决策树最大深度max_depth和内部节点再划分所需最小样本数min_samples_split进行网格搜索
param_test2 = {'max_depth':list(range(3,14,2)), 'min_samples_split':list(range(100,801,200))}
gsearch2 = GridSearchCV(estimator = GradientBoostingClassifier(learning_rate=0.1, n_estimators=60, min_samples_leaf=20, 
      max_features='sqrt', subsample=0.8, random_state=10), 
   param_grid = param_test2, scoring='roc_auc',iid=False, cv=5)
gsearch2.fit(train_X.values,train_y2)
gsearch2.grid_scores_, gsearch2.best_params_, gsearch2.best_score_
##{'max_depth': 13, 'min_samples_split': 300}, 0.9163276960371614)

([mean: 0.90448, std: 0.03766, params: {'max_depth': 3, 'min_samples_split': 100},
  mean: 0.90533, std: 0.03593, params: {'max_depth': 3, 'min_samples_split': 300},
  mean: 0.90536, std: 0.03625, params: {'max_depth': 3, 'min_samples_split': 500},
  mean: 0.90524, std: 0.03637, params: {'max_depth': 3, 'min_samples_split': 700},
  mean: 0.91143, std: 0.03771, params: {'max_depth': 5, 'min_samples_split': 100},
  mean: 0.91021, std: 0.03899, params: {'max_depth': 5, 'min_samples_split': 300},
  mean: 0.91087, std: 0.03774, params: {'max_depth': 5, 'min_samples_split': 500},
  mean: 0.90914, std: 0.03845, params: {'max_depth': 5, 'min_samples_split': 700},
  mean: 0.91453, std: 0.03979, params: {'max_depth': 7, 'min_samples_split': 100},
  mean: 0.91369, std: 0.04024, params: {'max_depth': 7, 'min_samples_split': 300},
  mean: 0.91356, std: 0.04049, params: {'max_depth': 7, 'min_samples_split': 500},
  mean: 0.91256, std: 0.04000, params: {'max_depth': 7, 'min_samples_split': 700},
  mean: 0.91555, std: 0.03983, params: {'max_depth': 9, 'min_samples_split': 100},
  mean: 0.91450, std: 0.04052, params: {'max_depth': 9, 'min_samples_split': 300},
  mean: 0.91434, std: 0.04076, params: {'max_depth': 9, 'min_samples_split': 500},
  mean: 0.91360, std: 0.04011, params: {'max_depth': 9, 'min_samples_split': 700},
  mean: 0.91541, std: 0.04095, params: {'max_depth': 11, 'min_samples_split': 100},
  mean: 0.91522, std: 0.03997, params: {'max_depth': 11, 'min_samples_split': 300},
  mean: 0.91456, std: 0.04126, params: {'max_depth': 11, 'min_samples_split': 500},
  mean: 0.91414, std: 0.04072, params: {'max_depth': 11, 'min_samples_split': 700},
  mean: 0.91612, std: 0.03926, params: {'max_depth': 13, 'min_samples_split': 100},
  mean: 0.91633, std: 0.04134, params: {'max_depth': 13, 'min_samples_split': 300},
  mean: 0.91498, std: 0.04030, params: {'max_depth': 13, 'min_samples_split': 500},
  mean: 0.91479, std: 0.04086, params: {'max_depth': 13, 'min_samples_split': 700}],
 {'max_depth': 13, 'min_samples_split': 300},
 0.9163276960371614)

In [97]:
param_test2={'max_depth':list(range(3,14,2)),'min_samples_split':list(range(20,100,10))}
gsearch2=GridSearchCV(estimator=GradientBoostingClassifier(learning_rate=0.1,n_estimators=350,min_samples_leaf=20,
                                                           max_features=None,subsample=0.8,random_state=10),
                      param_grid=param_test2,scoring='roc_auc',iid=False,cv=3  )
gsearch2.fit(train_X.values,train_y2)
gsearch2.grid_scores_,gsearch2.best_params_,gsearch2.best_score_
#{'max_depth': 3, 'min_samples_split': 90}, 0.8973756708021962)

([mean: 0.89649, std: 0.04747, params: {'max_depth': 3, 'min_samples_split': 20},
  mean: 0.89649, std: 0.04747, params: {'max_depth': 3, 'min_samples_split': 30},
  mean: 0.89649, std: 0.04747, params: {'max_depth': 3, 'min_samples_split': 40},
  mean: 0.89674, std: 0.04694, params: {'max_depth': 3, 'min_samples_split': 50},
  mean: 0.89647, std: 0.04754, params: {'max_depth': 3, 'min_samples_split': 60},
  mean: 0.89681, std: 0.04679, params: {'max_depth': 3, 'min_samples_split': 70},
  mean: 0.89688, std: 0.04692, params: {'max_depth': 3, 'min_samples_split': 80},
  mean: 0.89738, std: 0.04777, params: {'max_depth': 3, 'min_samples_split': 90},
  mean: 0.89655, std: 0.04765, params: {'max_depth': 5, 'min_samples_split': 20},
  mean: 0.89655, std: 0.04765, params: {'max_depth': 5, 'min_samples_split': 30},
  mean: 0.89655, std: 0.04765, params: {'max_depth': 5, 'min_samples_split': 40},
  mean: 0.89716, std: 0.04786, params: {'max_depth': 5, 'min_samples_split': 50},
  mean: 0.89685, std: 0.04834, params: {'max_depth': 5, 'min_samples_split': 60},
  mean: 0.89699, std: 0.04843, params: {'max_depth': 5, 'min_samples_split': 70},
  mean: 0.89709, std: 0.04861, params: {'max_depth': 5, 'min_samples_split': 80},
  mean: 0.89712, std: 0.04936, params: {'max_depth': 5, 'min_samples_split': 90},
  mean: 0.89503, std: 0.04716, params: {'max_depth': 7, 'min_samples_split': 20},
  mean: 0.89503, std: 0.04716, params: {'max_depth': 7, 'min_samples_split': 30},
  mean: 0.89503, std: 0.04716, params: {'max_depth': 7, 'min_samples_split': 40},
  mean: 0.89623, std: 0.04616, params: {'max_depth': 7, 'min_samples_split': 50},
  mean: 0.89540, std: 0.04782, params: {'max_depth': 7, 'min_samples_split': 60},
  mean: 0.89510, std: 0.04903, params: {'max_depth': 7, 'min_samples_split': 70},
  mean: 0.89570, std: 0.04927, params: {'max_depth': 7, 'min_samples_split': 80},
  mean: 0.89529, std: 0.04940, params: {'max_depth': 7, 'min_samples_split': 90},
  mean: 0.89194, std: 0.04712, params: {'max_depth': 9, 'min_samples_split': 20},
  mean: 0.89194, std: 0.04712, params: {'max_depth': 9, 'min_samples_split': 30},
  mean: 0.89194, std: 0.04712, params: {'max_depth': 9, 'min_samples_split': 40},
  mean: 0.89256, std: 0.04675, params: {'max_depth': 9, 'min_samples_split': 50},
  mean: 0.89328, std: 0.04816, params: {'max_depth': 9, 'min_samples_split': 60},
  mean: 0.89207, std: 0.04810, params: {'max_depth': 9, 'min_samples_split': 70},
  mean: 0.89323, std: 0.04810, params: {'max_depth': 9, 'min_samples_split': 80},
  mean: 0.89331, std: 0.04938, params: {'max_depth': 9, 'min_samples_split': 90},
  mean: 0.89145, std: 0.04682, params: {'max_depth': 11, 'min_samples_split': 20},
  mean: 0.89145, std: 0.04682, params: {'max_depth': 11, 'min_samples_split': 30},
  mean: 0.89145, std: 0.04682, params: {'max_depth': 11, 'min_samples_split': 40},
  mean: 0.89181, std: 0.04737, params: {'max_depth': 11, 'min_samples_split': 50},
  mean: 0.89092, std: 0.04871, params: {'max_depth': 11, 'min_samples_split': 60},
  mean: 0.89132, std: 0.04883, params: {'max_depth': 11, 'min_samples_split': 70},
  mean: 0.89126, std: 0.04817, params: {'max_depth': 11, 'min_samples_split': 80},
  mean: 0.89081, std: 0.04994, params: {'max_depth': 11, 'min_samples_split': 90},
  mean: 0.89067, std: 0.04725, params: {'max_depth': 13, 'min_samples_split': 20},
  mean: 0.89067, std: 0.04725, params: {'max_depth': 13, 'min_samples_split': 30},
  mean: 0.89067, std: 0.04725, params: {'max_depth': 13, 'min_samples_split': 40},
  mean: 0.89067, std: 0.04763, params: {'max_depth': 13, 'min_samples_split': 50},
  mean: 0.89014, std: 0.04784, params: {'max_depth': 13, 'min_samples_split': 60},
  mean: 0.89021, std: 0.04990, params: {'max_depth': 13, 'min_samples_split': 70},
  mean: 0.89175, std: 0.04830, params: {'max_depth': 13, 'min_samples_split': 80},
  mean: 0.89107, std: 0.04981, params: {'max_depth': 13, 'min_samples_split': 90}],
 {'max_depth': 3, 'min_samples_split': 90},
 0.8973756708021962)

In [98]:
##上述的决策树的深度可以定下来，但是划分所需要的最小样本数min_samples_split还不能定下来，这个参数还与决策树其他参数存在关联
##记下来对内部节点再划分所需最小样本数min_samples_split和叶子结点最少样本数min_samples_leaf一起调参

In [101]:
param_test3={'min_samples_split':list(range(80,1080,100)),'min_samples_leaf':list(range(60,101,10))}
gsearch3=GridSearchCV(estimator=GradientBoostingClassifier(learning_rate=0.1,n_estimators=350,max_depth=3,
                                                          max_features=None,subsample=0.8,random_state=10),
                     param_grid=param_test3,scoring='roc_auc',iid=False,cv=3)
gsearch3.fit(train_X.values,train_y2)
gsearch3.grid_scores_,gsearch3.best_params_,gsearch3.best_score_
##{'min_samples_leaf': 60, 'min_samples_split': 280}, 0.8976660805899851)

([mean: 0.89755, std: 0.04649, params: {'min_samples_leaf': 60, 'min_samples_split': 80},
  mean: 0.89758, std: 0.04668, params: {'min_samples_leaf': 60, 'min_samples_split': 180},
  mean: 0.89767, std: 0.04708, params: {'min_samples_leaf': 60, 'min_samples_split': 280},
  mean: 0.89725, std: 0.04696, params: {'min_samples_leaf': 60, 'min_samples_split': 380},
  mean: 0.89739, std: 0.04707, params: {'min_samples_leaf': 60, 'min_samples_split': 480},
  mean: 0.89598, std: 0.04814, params: {'min_samples_leaf': 60, 'min_samples_split': 580},
  mean: 0.89614, std: 0.04727, params: {'min_samples_leaf': 60, 'min_samples_split': 680},
  mean: 0.89526, std: 0.04772, params: {'min_samples_leaf': 60, 'min_samples_split': 780},
  mean: 0.89555, std: 0.04784, params: {'min_samples_leaf': 60, 'min_samples_split': 880},
  mean: 0.89563, std: 0.04752, params: {'min_samples_leaf': 60, 'min_samples_split': 980},
  mean: 0.89698, std: 0.04705, params: {'min_samples_leaf': 70, 'min_samples_split': 80},
  mean: 0.89658, std: 0.04761, params: {'min_samples_leaf': 70, 'min_samples_split': 180},
  mean: 0.89753, std: 0.04659, params: {'min_samples_leaf': 70, 'min_samples_split': 280},
  mean: 0.89751, std: 0.04695, params: {'min_samples_leaf': 70, 'min_samples_split': 380},
  mean: 0.89673, std: 0.04623, params: {'min_samples_leaf': 70, 'min_samples_split': 480},
  mean: 0.89606, std: 0.04703, params: {'min_samples_leaf': 70, 'min_samples_split': 580},
  mean: 0.89547, std: 0.04763, params: {'min_samples_leaf': 70, 'min_samples_split': 680},
  mean: 0.89490, std: 0.04722, params: {'min_samples_leaf': 70, 'min_samples_split': 780},
  mean: 0.89515, std: 0.04764, params: {'min_samples_leaf': 70, 'min_samples_split': 880},
  mean: 0.89521, std: 0.04781, params: {'min_samples_leaf': 70, 'min_samples_split': 980},
  mean: 0.89659, std: 0.04667, params: {'min_samples_leaf': 80, 'min_samples_split': 80},
  mean: 0.89693, std: 0.04653, params: {'min_samples_leaf': 80, 'min_samples_split': 180},
  mean: 0.89720, std: 0.04659, params: {'min_samples_leaf': 80, 'min_samples_split': 280},
  mean: 0.89692, std: 0.04689, params: {'min_samples_leaf': 80, 'min_samples_split': 380},
  mean: 0.89575, std: 0.04735, params: {'min_samples_leaf': 80, 'min_samples_split': 480},
  mean: 0.89535, std: 0.04737, params: {'min_samples_leaf': 80, 'min_samples_split': 580},
  mean: 0.89574, std: 0.04747, params: {'min_samples_leaf': 80, 'min_samples_split': 680},
  mean: 0.89469, std: 0.04790, params: {'min_samples_leaf': 80, 'min_samples_split': 780},
  mean: 0.89531, std: 0.04673, params: {'min_samples_leaf': 80, 'min_samples_split': 880},
  mean: 0.89481, std: 0.04747, params: {'min_samples_leaf': 80, 'min_samples_split': 980},
  mean: 0.89674, std: 0.04725, params: {'min_samples_leaf': 90, 'min_samples_split': 80},
  mean: 0.89674, std: 0.04725, params: {'min_samples_leaf': 90, 'min_samples_split': 180},
  mean: 0.89716, std: 0.04656, params: {'min_samples_leaf': 90, 'min_samples_split': 280},
  mean: 0.89671, std: 0.04701, params: {'min_samples_leaf': 90, 'min_samples_split': 380},
  mean: 0.89634, std: 0.04688, params: {'min_samples_leaf': 90, 'min_samples_split': 480},
  mean: 0.89571, std: 0.04710, params: {'min_samples_leaf': 90, 'min_samples_split': 580},
  mean: 0.89476, std: 0.04746, params: {'min_samples_leaf': 90, 'min_samples_split': 680},
  mean: 0.89513, std: 0.04704, params: {'min_samples_leaf': 90, 'min_samples_split': 780},
  mean: 0.89456, std: 0.04683, params: {'min_samples_leaf': 90, 'min_samples_split': 880},
  mean: 0.89457, std: 0.04713, params: {'min_samples_leaf': 90, 'min_samples_split': 980},
  mean: 0.89669, std: 0.04592, params: {'min_samples_leaf': 100, 'min_samples_split': 80},
  mean: 0.89669, std: 0.04592, params: {'min_samples_leaf': 100, 'min_samples_split': 180},
  mean: 0.89668, std: 0.04652, params: {'min_samples_leaf': 100, 'min_samples_split': 280},
  mean: 0.89675, std: 0.04670, params: {'min_samples_leaf': 100, 'min_samples_split': 380},
  mean: 0.89625, std: 0.04706, params: {'min_samples_leaf': 100, 'min_samples_split': 480},
  mean: 0.89597, std: 0.04724, params: {'min_samples_leaf': 100, 'min_samples_split': 580},
  mean: 0.89570, std: 0.04704, params: {'min_samples_leaf': 100, 'min_samples_split': 680},
  mean: 0.89556, std: 0.04648, params: {'min_samples_leaf': 100, 'min_samples_split': 780},
  mean: 0.89503, std: 0.04670, params: {'min_samples_leaf': 100, 'min_samples_split': 880},
  mean: 0.89484, std: 0.04754, params: {'min_samples_leaf': 100, 'min_samples_split': 980}],
 {'min_samples_leaf': 60, 'min_samples_split': 280},
 0.8976660805899851)

In [104]:
##调完参后，放到GBDT里面看看效果
gbm1=GradientBoostingClassifier(learning_rate=0.1,n_estimators=350,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                                max_features=None,subsample=0.8,random_state=10)
gbm1.fit(train_X.values,train_y2)
y_pred=gbm1.predict(train_X)
y_predprob=gbm1.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC score(Train):%f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9276
AUC score(Train):0.949916

In [108]:
## 对最大特征数max_features进行网格搜索
param_test4={'max_features':list(range(4,16,2))}
gsearch4=GridSearchCV(estimator=GradientBoostingClassifier(learning_rate=0.1,n_estimators=350,max_depth=3,min_samples_leaf=60 ,
                                                          min_samples_split=280,subsample=0.8,random_state=10),
                     param_grid=param_test4,scoring='roc_auc',iid=False,cv=3)
gsearch4.fit(train_X.values,train_y2)
gsearch4.grid_scores_,gsearch4.best_params_,gsearch4.best_score_
## {'max_features': 14}, 0.8971037288653009)

([mean: 0.89485, std: 0.04617, params: {'max_features': 4},
  mean: 0.89528, std: 0.04804, params: {'max_features': 6},
  mean: 0.89598, std: 0.04733, params: {'max_features': 8},
  mean: 0.89659, std: 0.04772, params: {'max_features': 10},
  mean: 0.89594, std: 0.04765, params: {'max_features': 12},
  mean: 0.89710, std: 0.04673, params: {'max_features': 14}],
 {'max_features': 14},
 0.8971037288653009)

In [110]:
## 对子采样比例进行网格搜索
param_test5={'subsample':[0.6,0.7,0.75,0.8,0.85,0.9]}
gsearch5=GridSearchCV(estimator=GradientBoostingClassifier(learning_rate=0.1,n_estimators=350,max_depth=3,min_samples_leaf=60,
                                                          min_samples_split=280,max_features=14,random_state=10),
                     param_grid=param_test5,scoring='roc_auc',iid=False,cv=3)
gsearch5.fit(train_X.values,train_y2)
gsearch5.grid_scores_,gsearch5.best_params_,gsearch5.best_score_
##{'subsample': 0.85}, 0.8976770026809427)

([mean: 0.89588, std: 0.04745, params: {'subsample': 0.6},
  mean: 0.89732, std: 0.04630, params: {'subsample': 0.7},
  mean: 0.89736, std: 0.04578, params: {'subsample': 0.75},
  mean: 0.89710, std: 0.04673, params: {'subsample': 0.8},
  mean: 0.89768, std: 0.04689, params: {'subsample': 0.85},
  mean: 0.89742, std: 0.04767, params: {'subsample': 0.9}],
 {'subsample': 0.85},
 0.8976770026809427)

In [112]:
#基本得到所有调优的参数结果了，可以减半步长，加倍最大迭代次数增加模型的泛化能力
gbm2=GradientBoostingClassifier(learning_rate=0.05,n_estimators=350,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm2.fit(train_X.values,train_y2)
y_pred=gbm2.predict(train_X)
y_predprob=gbm2.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9238
AUC Score(Train): 0.944479

In [115]:
gbm5=GradientBoostingClassifier(learning_rate=0.05,n_estimators=700,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm5.fit(train_X.values,train_y2)
y_pred=gbm5.predict(train_X)
y_predprob=gbm5.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9284
AUC Score(Train): 0.949762

In [113]:
#继续减小步长，增加迭代次数
gbm3=GradientBoostingClassifier(learning_rate=0.01,n_estimators=350,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm3.fit(train_X.values,train_y2)
y_pred=gbm3.predict(train_X)
y_predprob=gbm3.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.915
AUC Score(Train): 0.920859

In [114]:
#继续减小步长，增加迭代次数
gbm4=GradientBoostingClassifier(learning_rate=0.01,n_estimators=600,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm4.fit(train_X.values,train_y2)
y_pred=gbm4.predict(train_X)
y_predprob=gbm4.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9187
AUC Score(Train): 0.930689

In [116]:
#继续减小步长，增加迭代次数
gbm6=GradientBoostingClassifier(learning_rate=0.005,n_estimators=1200,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm6.fit(train_X.values,train_y2)
y_pred=gbm6.predict(train_X)
y_predprob=gbm6.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9186
AUC Score(Train): 0.930801

In [117]:
gbm7=GradientBoostingClassifier(learning_rate=0.05,n_estimators=1200,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm7.fit(train_X.values,train_y2)
y_pred=gbm7.predict(train_X)
y_predprob=gbm7.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9322
AUC Score(Train): 0.954668

In [118]:
gbm8=GradientBoostingClassifier(learning_rate=0.01,n_estimators=1200,max_depth=3,min_samples_leaf=60,min_samples_split=280,
                               max_features=14,subsample=0.85,random_state=10)
gbm8.fit(train_X.values,train_y2)
y_pred=gbm8.predict(train_X)
y_predprob=gbm8.predict_proba(train_X)[:,1]
print("Accuracy : %.4g" % metrics.accuracy_score(train_y.values,y_pred))
print("AUC Score(Train): %f" % metrics.roc_auc_score(train_y,y_predprob))

Accuracy : 0.9217
AUC Score(Train): 0.940095

In [119]:
test_y_predprob=gbm7.predict_proba(test_data)[:,1]
df_test['pred']=test_y_predprob.tolist()
df_result=df_test.loc[:,['ID','pred']]
df_result.to_csv('GBDToptimiza.csv',index=False)

#### 最后的结果不是很好